@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* custom colors */
    --yello: #F4D04E;
    --gray-500: #6B6B6B;
    --gray-950: #111111;

    /* custom fonts */
    --font-figtree: 'Figtree', sans-serif;

    /* typography styles */
    --text-preset1: 800 24px/150% var(--font-figtree);
    --text-preset2: 500 16px/150% var(--font-figtree);
    --text-preset3: 500 14px/150% var(--font-figtree);
    --text-preset3-bold: 800 14px/150% var(--font-figtree);

    /* letter spacing styles */
    --spacing1: 0px;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

main {
    background-color: var(--yello);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* font styles */
h1 {
    font: var(--text-preset1);
    color: var(--gray-950);
    margin: 0;
}
h1:hover {
    color: var(--yello);
}
p {
    margin: 0;
 }

.card-container {
    background-color: white;
    box-sizing: border-box;
    width: 384px;
    height: 522px;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 100%);
    border: 1px solid var(--gray-950);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.img-container {
    width: 100%;
    height: 200px;
}
.img {
    width: 336px;
    border-radius: 10px;
}
.content-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}